<div class="container">
  <h1>欢迎来到库存管理系统</h1>
  <p>这个应用程序可以帮助你高效地管理书籍和作者。</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">项目管理</h5>
          <p class="card-text">添加、编辑和删除项目。</p>
          <a href="/item-manager" class="btn btn-primary">前往项目管理</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">项目搜索</h5>
          <p class="card-text">按名称搜索项目。</p>
          <a href="/item-search" class="btn btn-primary">前往项目搜索</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">隐私与安全</h5>
          <p class="card-text">了解我们的隐私和安全政策。</p>
          <a href="/privacy" class="btn btn-primary">前往隐私与安全</a>
        </div>
      </div>
    </div>
  </div>
</div>