<div class="container">
  <h1>项目搜索</h1>
  <form>
    <div class="form-group">
      <label for="searchInput">按项目名称搜索：</label>
      <input type="text" id="searchInput" [(ngModel)]="query" (input)="searchItems()" class="form-control">
    </div>
  </form>
  <div *ngIf="searchResults.length > 0">
    <h2>搜索结果</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of searchResults">
        <strong>{{ item.name }}</strong> - {{ item.category }} - {{ item.price | currency }}
      </li>
    </ul>
  </div>
  <div *ngIf="searchResults.length === 0 && query">
    <p>没有找到与 "{{ query }}" 匹配的项目。</p>
  </div>
</div>